@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Base Styles */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: linear-gradient(#eceffe, #ced6fb);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* ----- Header Styles ----- */
.header {
  text-align: center;
  padding: 100px 0 50px;
}

.header h1 {
  font-size: 5rem;
  font-weight: 600;
}

/* ----- Cocktail Section ----- */
.cocktail-section {
  padding: 0 20px 90px;
}

.cocktail-section .container {
  max-width: 80%;
}

.cocktail-section .search {
  max-width: 600px;
  margin: 0 auto;
  height: 80px;
  background-color: #8595e8;
  border-radius: 8px;

  display: flex;
  align-items: center;

  margin-bottom: 100px;
}

.cocktail-section .search input {
  height: 100%;
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem;
  color: #fff;
  padding: 0 30px;
}

.cocktail-section .search input::placeholder {
  font-size: 1.8rem;
  color: #fff;
}

.cocktail-section .search button {
  height: 100%;
  padding: 0 40px;
  font-size: 1.8rem;
  background-color: #ff3929;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.5s;
}

.cocktail-section .search button:hover {
  background-color: rgb(234, 51, 61);
}

.card-list .card-item {
  background-color: #fff;
  padding: 18px;
  border-radius: 12px;
}

.card-list .card-item img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card-list .card-item .cocktail-name {
  margin: 16px 0 18px;
  font-weight: 600;
}

.card-list .card-item .cocktail-info {
  font-size: 1.5rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

/* ----- Utility Classes ----- */
.container {
  /* border: 2px solid black; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
